<div class="">
    <div class="bg-[url('assets/bannerFooter1.svg')] p-4 space-y-5 items-center md:space-y-0 md:flex md:justify-between md:px-5" style="background: rgba(0, 0, 0, 0.6);" *ngIf="footerChange">
        <div class="flex flex-col items-center space-y-5 text-white">
            <div class=""><img src="assets/logoFooter.svg" alt="" class=""></div>
            <div class="text-xl">Heures d’ouverture :</div>
            <div class="opacity-75">Ouvert de Lundi à Samedi de 9h à 19h</div>
        </div>
        <div class="flex flex-col items-center space-y-5 text-white">
            <div class="text-xl underline">Suivez-nous</div>
            <div class="flex items-center space-x-6">
                <div class="cursor-pointer"><img src="assets/facebook.svg" alt="" class=""></div>
                <div class="cursor-pointer"><img src="assets/instagram.svg" alt="" class=""></div>
            </div>
        </div>
        <div class="space-y-3 py-4 pl-3 bg-white shadow-xl z-0 md:w-96">
            <div class="font-bold text-xl">Profitez de nos services</div>
            <div class="border-b-4 border-black w-24"></div>
            <div class="">Laissez nos professionnels expérimentés aider 
                la meilleure version de vous !</div>
            <!-- <div class="">
                <button class="border-2 border-black px-2 rounded-md h-10 first-letter:capitalize">à propos</button>
            </div> -->
        </div>
    </div>
    <div class="bg-black text-white">
        <div class="space-y-10 py-10 md:py-5 md:flex md:space-y-0 md:items-center md:justify-around md:px-5 md:-space-x-10">
            <div class="flex flex-col items-center">
                <div class="flex flex-col items-center">
                    <div class=""><img src="assets/adresse.svg" alt="" class=""></div>
                    <div class="">Adresse</div>
                </div>
                <div class="text-center opacity-80">
                    <p>Situé à Etoudi</p>
                    <p>(100m après ancien 6e)</p>
                </div>
            </div>
            <div class="flex flex-col items-center">
                <div class="flex flex-col items-center">
                    <div class=""><img src="assets/tel.svg" alt="" class=""></div>
                    <div class="">Téléphone</div>
                </div>
                <div class="opacity-80">(+237) 654403777 / 691737643</div>
            </div>
            <div class="flex flex-col items-center">
                <div class="flex flex-col items-center">
                    <div class=""><img src="assets/mail.svg" alt="" class=""></div>
                    <div class="">Email</div>
                </div>
                <div class="opacity-80">lucciaesthetiK@gmail.com</div>
            </div>
        </div>
        <div class="border-b-2 border-white mx-10 opacity-40"></div>
        <div class="flex flex-col items-center space-y-3 py-5 opacity-80 md:hidden">
            <div class="" routerLink="/acceuil">Accueil</div>
            <div class="" routerLink="/salon">Salon</div>
            <div class="" routerLink="/contact">Contact</div>
        </div>
        <div class="text-center opacity-40 md:flex md:justify-end md:pr-5 md:my-5">©Luccia Esthtik Center 2022, tous droits réservés</div>
    </div>
</div>
