<app-header [salonActive]="true"></app-header>
<div class="text-gray-600">
    <div class="flex justify-center" style="background-color: #DC4C69;">
        <div class="p-5"><img src="assets/logoSalon.svg" alt="" class="w-64 md:w-80" width=""></div>
    </div>
    <div class="flex flex-col space-y-10 px-5 items-center">
        <div class="flex flex-col items-center p-2 shadow-2xl space-y-10" style="max-width: 750px;">
            <div class="font-semibold text-2xl text-black">Salon</div>
            <div class="flex flex-col items-center space-y-5 md:space-y-0 md:flex-row md:space-x-5">
                <div class="">
                    <div class="">Luccia esthetik center est votre centre de beauté esthétique situé à Yaoundé. Grâce à nos produits</div>
                    <div class="">et appareils, vous retrouverez un teint lumineux, une peau lisse et une hygiène de beauté renouvelée.</div>
                    <div class="">Nous vous proposons des soins experts et des conseils personnalisés pour que vous soyez toujours </div>
                    <div class="">au top de votre beauté. N'attendez plus, venez nous retrouver à Etoudi (100m après l'ancien 6e).</div>
                </div>
                <div class=""><img src="assets/salonImage1.svg" alt="" class=""></div>
            </div>
        </div>
        <div class="flex space-x-2 -mx-2 md:px-10 md:space-x-7">
            <div class=""><img src="assets/salonImage2.svg" alt="" class=""></div>
            <div class=""><img src="assets/salonImage3.svg" alt="" class=""></div>
        </div>
        <div class=""><img src="assets/salonImage4.svg" alt="" class=""></div>
    </div>
    <div class="border-t-2 my-5 space-y-10 py-5 flex flex-col items-center md:block">
        <!-- <div class="text-center font-semibold text-xl text-black">Qu'est-ce que le Lorem Ipsum?</div> -->
        <div class="grid grid-cols-2 gap-y-4 gap-x-1 place-items-start md:flex md:flex-row md:justify-between px-3">
            <div class="flex flex-row-reverse items-center space-x-2">
                <div class="">Professionalisme</div>
                <!-- <div class="hidden md:block">Professionalisme</div> -->
                <div class=""><img src="assets/homme-daffaire.svg" alt="" class="img"></div>
            </div>
            <div class="flex flex-row-reverse items-center space-x-2">
                <div class="">Rapport qualité & prix</div>
                <div class=""><img src="assets/assurance-qualite.svg" alt="" class="img"></div>
            </div>
            <div class="-ml-2 flex flex-row-reverse items-center space-x-4">
                <div class="">Epace accueillant</div>
                <div class=""><img src="assets/accueil.svg" alt="" class="img"></div>
            </div>
            <div class="flex flex-row-reverse items-center space-x-2">
                <div class="">Personnel quaifié</div>
                <div class=""><img src="assets/homme-daffaire.svg" alt="" class="img"></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
