<app-header [homeActive]="true"></app-header>
<div class="space-y-10 pb-10">
    <div class=" bg-[url('assets/imageBanner.png')] banner h-60 md:h-96 flex justify-center items-center">
        <!-- <div class=""><img src="assets/imageBanner.svg" alt="" height="100%" class="w-full md:h-"></div> -->
        <!-- <div class="absolute top-16 left-20 right-20 sm:top-24 sm:left-56 flex flex-col items-center space-y-7 md:top-52 md:left-60 md:right-60">
            <div class=""><img src="assets/logoBanner.svg" alt="" class=""></div>
            <div class=""><button class="bg-white px-2 rounded-lg md:text-2xl font-medium">Prendre un rendez vous</button></div>
        </div> -->
        <div class="flex flex-col items-center space-y-5">
            <div class=""><img src="assets/logoBanner.svg" alt="" class=""></div>
            <div class=""><button class="bg-white px-2 rounded-lg md:text-2xl font-medium">Prendre un rendez vous</button></div>
        </div>
    </div>
    <div class="relative">
        <div class="absolute top-7 sm:left-20 sm:top-6 space-y-3 w-80 p-4 z-10 bg-white shadow-xl md:w-96 md:right-44 md:left-52">
            <div class="font-bold text-xl">Nos meilleurs soins</div>
            <div class="border-b-4 border-black w-24"></div>
            <div class="">Bien qu'il y ait de nombreuses preuves indiquant 
                que les peaux noires et métissées vieillissent 
                incroyablement bien et que la mélanine protège 
                du photo-vieillissement, elles perdent aussi 
                progressivement leur élasticitédéveloppent des rides
                et se ternissent avec le temps ou le manque..</div>
            <div class="">
                <button class="border-2 border-black px-2 rounded-md h-10" routerLink="/nos soins">En sovoir plus</button>
            </div>
        </div>
        <div class="flex justify-end w-full">
            <!-- <div class=""><img src="assets/image1.2.svg" alt="" class=""></div> -->
            <div class=""><img src="assets/image1.png" alt="" class="w-64 h-96 sm:w-96 md:w-full"></div>
        </div>
    </div>
    <div class="relative">
        <div class="md:flex">
            <div class=""><img src="assets/image2.svg" alt="" class=""></div>
            <div class=""><img src="assets/image3.svg" alt="" class=""></div>
        </div>
        <div class="absolute space-y-3 top-40 left-5 sm:bottom- sm:top-96 w-80 py-4 pl-3 bg-white shadow-xl z-0 md:left-96 md:top-28">
            <div class="font-bold text-xl">Beauté</div>
            <div class="border-b-4 border-black w-24"></div>
            <div class="">La peau noire est unique, elle mérite 
                les meilleurs soins. L’expérience 
                Luccia esthétik 
                center, c’est s’abandonner aux mains expertes 
                de nos spécialistes, le temps d’un soin. 
                Trouvez la routine adaptée à votre type 
                de peau...</div>
            <div class="">
                <button class="border-2 border-black px-2 rounded-md h-10" routerLink="/nos soins">En sovoir plus</button>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="bg-white shadow-xl flex flex-col items-center space-y-5 py-5 px-5">
            <div class="space-y-3 md:flex md:space-y-0 md:space-x-5">
                <div class=""><img src="assets/image5.svg" alt="" class="md:w-72"></div>
                <div class=""><img src="assets/image6.svg" alt="" class="md:w-72"></div>
                <div class=""><img src="assets/image7.svg" alt="" class="md:w-72"></div>
            </div>
            <div class=""><button class="border-2 border-black h-10 px-1 rounded-md">Voir notre galerie</button></div>
        </div>
    </div>
</div>
<app-footer></app-footer>
